{{- if or .Params.author site.Params.author }}
{{- $author := (.Params.author | default site.Params.author) }}
{{- $author_type := (printf "%T" $author) }}
{{- if (or (eq $author_type "[]string") (eq $author_type "[]interface {}")) }}
{{- $items := slice }}
{{- range $author }}
{{- $items = $items | append (printf "<a href=\"/author/%s/\">%s</a>" (. | urlize) .) }}
{{- end }}
{{- delimit $items ", " }}
{{- else }}
<a href="/author/{{ $author | urlize }}/">{{ $author }}</a>
{{- end }}
{{- end -}}
