<nav class="posts-nav">
  <div class="posts-nav-section">
    <span class="posts-nav-label">Categories:</span>
    {{- range site.Taxonomies.categories.ByCount }}
      <a href="{{ "/categories/" | relLangURL }}{{ .Name | urlize }}/">{{ .Name }} ({{ .Count }})</a>
    {{- end }}
  </div>
  <div class="posts-nav-section">
    <span class="posts-nav-label">Tags:</span>
    {{- range first 15 site.Taxonomies.tags.ByCount }}
      <a href="{{ "/tags/" | relLangURL }}{{ .Name | urlize }}/">{{ .Name }}</a>
    {{- end }}
    <a href="{{ "/tags/" | relLangURL }}">すべてのタグ &rarr;</a>
  </div>
  <div class="posts-nav-section">
    <span class="posts-nav-label">Archives:</span>
    {{- range (where site.RegularPages "Section" "posts").GroupByDate "2006/01" }}
      <a href="{{ printf "/posts/%s/" .Key | relLangURL }}">{{ .Key }}</a>
    {{- end }}
  </div>
</nav>
